runtime: go111

service: default

handlers:
- url: /.*
  secure: always
  script: auto

- url: /(.*\.html)$
  static_files: ../frontend/view/\1
  upload: ../frontend/view/.*\.html$


env_variables:
  GONPE_MYSQL_DSN: user:password@tcp/gonpe?parseTime=true
  GONPE_BASE64_FIREBASE_SERVICE_ACCOUNT_KEY: base64-encoded-firebase-service-account-key
